<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
    <title>Рабочие на объектах</title>

</head>
<body>
    {% include "menu.html" %}
    <table class="table table-responsive align-middle">
        <thead><th>Номер</th><th>Имя</th><th>Объект</th><th>Статус</th></thead>
        {% for uniq,name,project,status in people %}
        <tr>
            <td>{{ uniq }}</td>
            <td>{{ name }}</td>
            <td>{{ project }}</td>
            {% if status == True %}
            <td class="re">🟢</td>
            {% else %}
            <td class="ze">🔴</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>