.block{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-collapse: collapse;
}

.btn{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(99, 176, 244);
    border:1px solid rgb(50, 134, 208);;
    /* border-color: aquamarine; */
    color: aliceblue;
    margin-bottom: 20px;
}
.btn:hover{
    background-color: rgb(28, 143, 243);
}
form{
    /* display: block; */
    text-align: center;
    border:3px solid rgb(204, 225, 206);
    background-color: rgb(220, 245, 223);
}
input{
    text-align: center;
    margin-top: 5px;
}
h3{
    text-align: center;
}

